body, html{
    margin: 0;
    padding: 0;
    height: 100vh;
}

.calculator-container{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 100vh;
    padding: 15px;
    
}

.display{
    height: 20%;
    border: 2px solid black;
}

.button-container{
    display: flex;
    height: 80%;
    gap: 15px;
    padding-top: 15px;
}

.number-container{
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    gap: 15px;
    box-sizing: border-box;
}

.operator-container{
    display: flex;
    flex-direction: column;
    width: 25%;
    gap: 15px;
}

.number-button{
    width: calc((100% - 30px) / 3);
    height: calc((100% - 45px) / 4);
    border: 2px solid black;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculate-button{
    width: calc(((200% - 15px) / 3));
    height: calc((100% - 45px) / 4);
    border: 2px solid black;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.operator-button{
    height: calc((100% - 45px) / 3);
    border: 2px solid black;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.display, .number-button, .calculate-button, .operator-button{
    border-radius: 10px;
    font-size: min(4vw, 2em);
}